---
---

@import "minima";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #828282;
}

a:hover {
  text-decoration: none;
  transition: 3s;
}

.site-header {
    border: none;
    min-height: 55.95px;
    position: relative;
}

.site-title {
  font-size: 28px;
  font-weight: 400;
  padding-top: 10px;
  letter-spacing: -0.5px;
}

.site-nav {
  line-height: 80px;
  border: none;
}

