---
---

@import "minima";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #828282;
}

.wrapper {
    max-width: -webkit-calc(1200px - (30px * 2));
    max-width: calc(1200px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

a {
  transition: 0.3s;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #eee;
}

a:visited {
  color: #000;
}

h1 {
  font-weight: 600;
}

.site-header {
    border: none;
    min-height: 55.95px;
    position: relative;
}

.site-title {
  font-size: 28px;
  font-weight: 400;
  padding-top: 10px;
  letter-spacing: -0.5px;
}

.site-nav {
  line-height: 80px;
  border: none;
}

